* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

input {
  font-family: "Roboto";
  padding: 0.4rem;
  font-size: 1rem;
}

.cipher_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.heading {
  background-image: linear-gradient(to right, #ff0062, #ea00ff);
  background-clip: text;
  color: transparent;
  font-family: "Poppins";
  font-size: 2rem;
}

.description {
  color: white;
  font-family: "Inter";
  margin: 1rem 0;
}

.cipher_guard {
  color: #e62bff;
}

.pass_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid white;
  background-color: #131313;
  border-radius: 5px;
}

.password {
  min-width: 18rem;
  height: 2.2rem;
  outline: none;
  border: none;
  border-radius: 2px;
}

.pass_strength_label {
  margin: 0.3rem 0;
  height: 1rem;
  font-size: 0.8rem;
  font-family: "Roboto";
  color: rgb(0, 255, 0);
}

.pass_buttons {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.pass_btn {
  cursor: pointer;
  margin-right: 1rem;
  min-width: 7rem;
  height: 2.2rem;
  font-family: "Roboto";
  font-size: 0.9rem;
  outline: none;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  background-color: #303030;
}

.pass_btn:hover {
  background-color: #181818;
}

.pass_btn:active {
  background-color: #000000;
}

.pass_requirement {
  margin-top: 0.2rem;
  color: rgb(199, 199, 199);
  font-size: 0.8rem;
  font-family: "Poppins";
}