* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, rgb(20, 20, 20), black);
  height: 100vh;
  width: 100%;
}

input {
  font-family: var(--font-inter);
  padding: 0.4rem;
  font-size: 1rem;
}

.cipher_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.heading {
  background-image: linear-gradient(to right, #ff0062, #ea00ff);
  background-clip: text;
  color: transparent;
  font-family: var(--font-poppins);
  font-size: 2.2rem;
}

.nav_container {
  width: 100vw;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5rem;
}

.navlogo_link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}

.logo_text {
  color: rgb(228, 228, 228);
  font-family: var(--font-poppins);
}

.chat_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.character_chat {
  display: flex;
  width: 80vw;
  max-width: 25.5rem;
  color: white;
  font-family: var(--font-inter);
  margin: 0.4rem;
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.342);
}

.character {
  min-width: 33%;
}

.cipher_guard {
  color: #e62bff;
}

.nav_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_button {
  cursor: pointer;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
  font-family: var(--font-inter);
  text-decoration: none;
  padding: 0.55rem;
  width: 7.5rem;
  height: 2.5rem;
  text-align: center;
}

.white_button {
  color: black;
  background-color: white;
  font-weight: 500;
}

.white_button:hover {
  background-color: rgb(235, 235, 235);
}

.pass_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.671);
  background-color: #131313;
  border-radius: 5px;
  max-width: 20rem;
}

.password {
  width: 18rem;
  height: 2.2rem;
  outline: none;
  border: none;
  border-radius: 2px;
}

.pass_strength_label {
  margin: 0.3rem 0;
  height: 1rem;
  font-size: 0.8rem;
  font-family: var(--font-inter);
  color: rgb(0, 255, 0);
}

.pass_buttons {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.pass_btn {
  cursor: pointer;
  margin-right: 1rem;
  min-width: 7rem;
  height: 2.2rem;
  font-family: var(--font-inter);
  font-size: 0.9rem;
  outline: none;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  background-color: #303030;
}

.pass_btn:hover {
  background-color: #181818;
}

.pass_btn:active {
  background-color: #000000;
}

.go_back_button {
  color: rgb(233, 233, 233);
  width: 7.5rem;
  height: 2rem;
  padding: 0.4rem 1rem;
  margin-top: 1rem;
  text-align: center;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 20px;
  font-size: 0.9rem;
  font-family: var(--font-inter);
  text-decoration: none;
}

.go_back_button:hover {
  background-color: rgba(75, 75, 75, 0.486);
}

.pass_requirement {
  margin-top: 0.2rem;
  color: rgb(199, 199, 199);
  font-size: 0.8rem;
  font-family: var(--font-poppins);
}

.upvotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 0.7rem;
  margin-top: 3rem;
  border: 1px dashed rgb(95, 95, 95);
  border-radius: 10px;
}

.upvote_heading {
  color: white;
  font-family: var(--font-orbitron);
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.upvote_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  margin-top: 0.7rem;
}

.hex_upvote {
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  min-width: 11.2rem;
  border: 1px dashed rgb(233, 233, 233);
  padding: 0.2rem 0.5rem;
  font-family: var(--font-orbitron);
  font-size: 0.9rem;
  border-radius: 2px;
  background-color: #161616;
}

.dec_upvote {
  display: flex;
  justify-content: center;
  min-width: 8rem;
  border: 1px dashed rgb(233, 233, 233);
  padding: 0.2rem 0.5rem;
  font-family: var(--font-orbitron);
  font-size: 0.9rem;
  border-radius: 2px;
  text-align: center;
  background-color: #161616;
}

.hex_text {
  color: rgb(238, 238, 238);
  padding: 0 0.1rem;
}

.hex_digit {
  padding: 0 0.2rem;
}

.vote_format_toggle_button {
  cursor: pointer;
  color: white;
  width: 3rem;
  height: 1.8rem;
  font-family: var(--font-poppins);
  font-size: 0.9rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: none;
}

.upvote_button {
  cursor: pointer;
  color: white;
  width: 3rem;
  height: 1.8rem;
  font-family: var(--font-poppins);
  font-size: 1.1rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background: none;
}

.upvote_button:hover, .vote_format_toggle_button:hover {
  background-color: #3a3a3a;
}

.upvote_button:active, .vote_format_toggle_button:active {
  background-color: #414141;
}

@media (max-width: 600px) {
  .logo_text {
    display: none;
  }

  .upvote_button:active,
  .vote_format_toggle_button:active,
  .upvote_button:hover,
  .vote_format_toggle_button:hover,
  .white_button:hover, 
  .go_back_button:hover {
    background: none;
  }
}

@media (max-width: 390px) {
  .character_chat {
    font-size: 4vw;
  }
}